body {
    background-color:#000000;
	font: 1em Arial, Helvetica, sans-serif;
    text-align: left;
	color: #ffcc33;
	margin: 0px;
	padding: 20px 10px 0px;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid #ffcc33;
}
table.noborder, td.noborder, th.noborder {
    border: 0px solid #ffcc33;
}
td, th {
    font-size: 1em;
    padding: 3px 7px 2px 7px;
}
th {
    border: 1px solid #000000;
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #ffcc33;
    color: #000000
}
tr.alt td {
    background-color: #222222;
}
input {
	color: #000000;
	background: #ffffcc;
	border: 1px solid #cc9900;
	padding-left: 1px;
    width: 100%;
}
a:link {
    color: #ff0000;
}
a:visited {
    color: #cc0000
}
h1, h2, h3 {
	color: #ffcc33;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: italic bold 3em Arial, Helvetica, sans-serif;
}
h2 {
	font: italic bold 2em Arial, Helvetica, sans-serif;
}
h3 {
	font: italic 1em Arial, Helvetica, sans-serif;
}
