body {
    background-color:#000000;
	font: 1em Arial, Helvetica, sans-serif;
	color: #fed403;
	margin: 10px 40px;
	padding: 0;
}
table, td, th {
    border-collapse: collapse;
    border: 1px solid #fed403;
    margin: 0 auto;
}
td, th {
    font-size: 1em;
    padding: 3px 7px 2px 7px;
}
th {
    text-align: left;
    border-color: #000000;
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #fed403;
    color: #000000;
}
tr.alt td {
    background-color: #111111;
}
/* Used to define page layout using tables */
table.contenttable, td.contenttd {
    border-style: none;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}
td.contenttd {
    padding: 10px;
}
/* Table cell containing the band logo */
td.logotd {
    width: 200px;
    padding: 0;
}
/* Table cell containing the band name and motto */
td.headertd {
    padding: 0;
}
/* Table cell containing the navigation sidebar */
td.navigation {
    width: 160px;
    padding: 10px 20px;
    vertical-align: top;
}
/* Navigation table */
table.navigation {
    width: 100%;
}
/* Table cell containing the main content of the page */
td.content {
    text-align: left;
    vertical-align: top;
}
/* Set the fonts of the page header text */
span.header1 {
	color: #fed403;
	font: 1.5em Arial, Helvetica, sans-serif;
}
span.header2 {
	color: #fed403;
	font: italic bold 3em Arial, Helvetica, sans-serif;
}
span.header3 {
	color: #fed403;
	font: italic 1em Arial, Helvetica, sans-serif;
}
/* The small font used for tips and form field explanations */
span.tiph {
	color: #000000;
	font: 0.625em Arial, Helvetica, sans-serif;
}
span.tip {
	color: #fed403;
	font: 0.625em Arial, Helvetica, sans-serif;
}
/* Set the look of textboxes and buttons */
input, textarea, select {
	color: #000000;
	background: #ffffcc;
	border: 1px solid #cc9900;
}
input[type="text"] {
    width: 100%;
}
/* Set link colours */
a:link {
    color: #ff0000;
}
a:visited {
    color: #cc0000
}
/* Shorthands for text alignment */
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
/* Set the header font properties */
h1, h2, h3 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
	color: #fed403;
	font: italic bold 2em Arial, Helvetica, sans-serif;
}
h2 {
    margin-bottom: 40px;
	font: italic 1em Arial, Helvetica, sans-serif;
}
h3 {
    margin-bottom: 40px;
}
div.msg {
    text-align: center;
    border: 1px solid #fed403;
    padding: 5px;
    margin: 20px;
}
